- {"path" => "packaging/verify", "name" => "Verifying your XML"},\
- {"path" => "packaging/pruning", "name" => "Pruning your map"},\
- {"path" => "packaging/deleting_unused_files", "name" => "Deleting the useless files"},\
- {"path" => "packaging/adding_needed_files", "name" => "Adding useful files"},\
- {"path" => "packaging/zip_and_upload", "name" => "Compressing and uploading your map"},\

.col-sm-3
    = partial('sidebar')