.container
    .jumbotron.subhead
        %h1 Packaging your map
        %p.lead Final touches needed to release your map.
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1Adding useful files
					:markdown
						You need to think that a map developper has a lot to do, this is why you need to help him adding the useful files to you folder.
						This includes a picture that will show up on [the website here](https://oc.tc/maps) and your XML.
						So, start of by dragging you XML file into your map's folder. Then, rename this XML file **map.xml**.
						Then take a picture of your map. Open your picture with a picture editor and resize it nicely to **290 pixels wide** and **246 pixels high** and save it as a **.png**.
						Drag this picture into your **map's** folder and rename it **map.png**.