.container
    .jumbotron.subhead
        %h1 Packaging your map
        %p.lead Final touches needed to release your map.
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 Map Packaging
                %p Packaging you map is something important you have to work on if you want a map developper to possibly test it out.

