.container
    .jumbotron.subhead
        %h1 Packaging your map
        %p.lead Final touches needed to release your map.
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1Compressing and uploading your map
					:markdown
						This is the final step! 
						To start off, download [7zip, a zip file manager](http://www.7-zip.org/).
						Just install it on your computer and go back into the **saves** folder. Find your map folder and right-click on it. Then click on **add to "YourMapFolderName"**.
						You'll see a **.zip** file in your saves folder.
						We recommend you to drag it on your desktop because it will be easier to find it for the final step: **uploading the map**.
						Uploading the map is the last process, and it's easy. All you need to do is either create an account at [mediafire.com](http://mediafire.com) .
						When you're done, simply log in. You'll see an **upload** button. Click on it and click **from computer**. Then click on the big **+** and find your map's zip folder. 
						Then, click begin upload. Hit this button, and you'll have a download link:
						![copy link.png](/img/copy_link.png)						
						%h3Congratulations, you're done, just post your map in the right forums section and don't forget to have a picture album and a paste of your XML!						